__pycache__
*.py[cod]
*.sw[po]

.DS_Store

# C extensions
*.so

# Packages
dist
build
env/
.env.local

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/
coverage.xml

docs/_build
